body {
    margin: 0px;
    background-color: rgb(253, 251, 251);
}

header {
    top: 0;
    position:fixed ;
    border: 1px solid black;
    width: 1847px;
    text-align: center;
    background-color: #216e39;
    color: white;
}

.sub-header {
    margin-top: 81px; 
}

#minha_foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;

}

section {
    border: 1px solid black;
}
#minha_foto {
    width: 200px;
}